@mixin coin-button () {
  @include no-select;
  @include flex-center;
  cursor: pointer;
  position: relative;
  @include min-size(2.5rem, 2.5rem);
  padding-left: 2.5rem;
  font-size: .875rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .5);
  opacity: $secondary-opacity;

  &:before, &:after {
    @include absolute(50%, auto, auto, 0);
    @include size(2rem, 2rem);
    @include flex-center;
    transform: translateY(-50%);
    font-size: 1rem;
    border-radius: 50%;
    font-family: FontAwesome;

    transition: all .5s ease;

    background: rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .2);
  }

  &:hover {
    opacity: 1;
  }

  // flipping animation
  &:before, &:hover:after {
    transform: translateY(-50%) scale(1);
  }

  &:before {
    opacity: $secondary-opacity;
  }

  &:hover:after {
    opacity: 1;
  }

  &:after, &:hover:before {
    opacity: 0;
    transform: translateY(-50%) scale(0.01);
  }
}
