$line-height: 1.5rem !default;
$column-width: 1rem !default;

$success-background-color: #76b900 !default;
$fail-background-color: #FF3C00 !default;
$neutral-background-color: #37474F !default;

@mixin user-feedback-widget {
  @include flex-row;
  line-height: $line-height;
  padding: $line-height/2 0;
  border-bottom: 1px solid rgba(0,0,0,0.05);

  > .user {
    order: 0;
    flex: 0 0 auto;
    max-width: 6rem;
    margin: -.25rem $column-width (-.25rem) 0;

    @include break-words;
    @include text-ellipsis;

    font-size: .75rem;
    font-weight: 600;
    text-align: center;
    color: rgba(#37474F,.8);

    &:before {
      @include flex-center;
      @include size(3.5rem, 3.5rem);
      margin: 0 auto;
      border-radius: 50%;

      font-family: FontAwesome;
      font-size: 1.5rem;
      content: '\f007';

      background: rgba(#263238, .05);
    }
  }

  > .feedback {
    order: 1;
    flex: 1 1 auto;
    margin-right: 1rem;
    font-size: .9375rem;
    line-height: $line-height;
  }

  > .score {
    order: 2;
    flex: 0 0 auto;
    @include flex-center;
    @include size(3rem, 3rem);
    margin: .25rem 0;
    border-radius: 50%;
    font-size: 1.5rem;

    color: white;
    background: $neutral-background-color;
    &.high { background: $success-background-color; }
    &.low { background: $fail-background-color; }
  }

  // modificators
  &.small {
    padding-right: .25rem;

    > .user:before, > .score {
      @include size(2.5rem, 2.5rem);
      font-size: 1rem;
      font-weight: 600;
    }

    > .feedback { font-size: .8125rem; }
  }

  &.short, &.bubble { // score + user
    order: 1;
    flex-direction: column;
    margin: 0 0 0 $column-width;
    border-bottom: none;

    > .user { order: 1; }
    > .score { order: 0; }
    > .user, > .score { margin: 0 auto; }
    > .user:before, > .feedback { display: none; }
  }

  &.bubble { // just score
    @include size(2.5rem, 2.5rem);
    @include no-select;
    @include flex-align(center, center, center);
    margin: 0 .25rem 0 (-.25rem);
    padding: 0;

    > .user { display: none; }

    > .score {
      @include size(.5rem, .5rem);
      color: transparent;
    }

    &.size-1 > .score { @include size(1rem, 1rem); }
    &.size-2 > .score { @include size(1.5rem, 1.5rem); }
  }
}

.user-feedback {
  @include user-feedback-widget;
}

.user-feedback-list {
  @include flex-rows;
  justify-content: flex-end;

  > .user-feedback {
    flex: 1 1 100%;

    &.short, &.bubble {
      flex: 0 0 auto;
    }
  }
}