<template name="assignment_details_header">
  <header>
    <a class="button" href="/">
      <span class="glyphicon glyphicon-chevron-left"></span>
      Back to list
    </a>
    <h1 class="text-center">{{ title }}</h1>
    <section class="description">
      <h4 class="text-center">{{ description }}</h4>
    </section>
    {{> assignment_submits }}
  </header>
</template>

<template name="assignment_submits">
  <section class="submit">
    {{#if lastWork }}
      <div class="title">
        <small>Last work:</small>
        <br />
        submitted at <strong>{{formatDate lastWork.createdAt }}</strong>
      </div>
      {{> workReviewState work=lastWork }}
      <div class="splitter"></div>

      <div class="actions">
        <div class="button submit-button">Resubmit...</div>
        {{#if canReview }}
          <div class="button success review-button">Review works</div>
        {{/if}}
      </div>
      <div class="expand-history" style="display: none;">
        <div class="hint">Earlier submitted works</div>
        <div class="icon"></div>
      </div>
    {{else}}
      <div class="submit-date">submit by <strong>{{formatDate dueDate }}</strong></div>
      <div class="button primary submit-button">Submit your work...</div>
    {{/if}}
  </section>
</template>

<template name="workReviewState">
  {{#if isReady }}
    <div class="ready-state">
      {{#with workReviewSummary }}
        <div class="title">earned</div>
        <div class="value earned">{{ score }}</div>
        <div class="value total">of {{ total }}</div>
        <div class="report-button">
          <i class="icon fa fa-bars"></i>
          <div class="hint">view<br/>report</div>
        </div>
      {{/with}}
    </div>
  {{else}}
    <div class="evaluating-state">
      <div class="icon glyphicon glyphicon-hourglass"></div>
      <div class="hint">Evaluating...</div>
    </div>
  {{/if}}
</template>

<template name="requirements_list">
  <div class="board requirements">
    <header>
      <h4>Requirements</h4>
    </header>
    {{#each this}}
      {{> assignment_requirement num=@index requirement=this }}
    {{/each}}
  </div>
</template>

<template name="assignment_requirement">
  <div class="widget requirement group-{{ requirement.task }}">
    <div class="row-id">{{sum num 1 }}</div>
    <div class="title">{{ requirement.title }}</div>
    <div class="score">
      <span class="label">Points: </span>
      <span class="value">{{ requirement.score }}</span>
    </div>
  </div>
</template>