<template name="assignment_details_header">
  <header>
    {{> assignment_info id=_id class="full" }}
    {{> assignment_state }}
  </header>
</template>

<template name="requirements_list">
  <div class="content requirements list">
    <header>
      <h4>Requirements</h4>
    </header>
    {{#each this}}
      {{> assignment_requirement num=@index requirement=this }}
    {{/each}}
  </div>
</template>

<template name="assignment_requirement">
  <div class="row box widget requirement group-{{ requirement.task }}">
    <div class="row-id">{{sum num 1 }}</div>
    <div class="title">{{ requirement.title }}</div>
    <div class="score">
      <span class="label">Points: </span>
      <span class="value">{{ requirement.score }}</span>
    </div>
  </div>
</template>