<template name="assignment_header">
  <header>{{ > assignment_info id=_id }}</header>
</template>

<template name="make_review_content">
  <div class="content make-review">
  {{#if work}}
    {{ > work_info work=work score=reviewScore }}
    <form class="requirements list check-list">
      <header>
        <h3>Checklist</h3>
        <p>Look at the list of requirements and check whether they are met or not</p>
      </header>
      {{#each review.results }}
        {{> check_requirement requirement=this num=@index }}
      {{/each}}
      <section>
        <div class="input-widget">
          <label for="feedback">Feedback <small>( optional )</small></label>
          <textarea id="feedback" name="feedback" rows=5>
            {{ review.feedback }}
          </textarea>
          <div class="input-underline"></div>
        </div>
      </section>
      <footer>
        <button class="button success submit-review">Submit review</button>
      </footer>
    </form>
  {{else}}
    <section class="work">
      <h3 class="text-center">Here is no works yet</h3>
    </section>
  {{/if}}
  </div>
</template>

<template name="check_requirement">
  <div class="row box widget requirement group-{{ requirement.task }}">
    <div class="row-id">{{sum num 1 }}</div>
    <div class="title">{{ requirement.title }}</div>
    {{> requirement_comment requirement=requirement }}
    <div class="check-switcher {{getMark checkResult}}">
      <div class="yes">Done</div>
      <div class="no">Not done</div>
    </div>
  </div>
</template>

<template name="requirement_comment">
  <div class="comment-button {{ stateClass }}"></div>
  <div class="reset-button"></div>
  <div class="comment-field">
    <div class="input-widget">
      <label for="comment">Comment for requirement <small>( optional )</small></label>
      <textarea id="comment" name="comment" rows=3></textarea>
      <div class="input-underline"></div>
    </div>
  </div>
</template>