<template name="submit_modals">
  {{> submitted_works_list }}
  {{> submit_work }}
</template>

<template name="submitted_works_list">
  <div class="modal-wrapper" id="previous-works-modal">
    <div class="modal">
      <header>
        <div class="title">Previously submitted works</div>
        <div class="close-button"></div>
      </header>
      <section class="content">
        {{#each list }}
          <div class="widget work">
            <div class="submit-date">{{formatDate createdAt }}</div>
            {{#with (workReviewResult this) }}
              {{#if count}}
                <div class="score">Score: {{ avg }}</div>
              {{else}}
                <div class="score">Evaluating...</div>
              {{/if}}
            {{/with}}
          </div>
        {{/each}}
      </section>
    </div>
  </div>
</template>