<template name="work_summary_header">
  <header>
    <h1 class="text-center">{{ title }}</h1>
    <section class="description">
      <h4 class="text-center">{{ description }}</h4>
    </section>
  </header>
</template>

<template name="work_summary_content">
  <section class="content report list">
    {{ > work_summary_result }}
    {{ > work_reviews_results }}
    {{ > work_reviews_details }}
  </section>
</template>

<template name="work_summary_result">
  <section class="work-summary row">
    <div class="filler details">
      <div class="user-name">{{ getUserName user }}</div>
      <div class="submit-date">
        <span class="title">submitted at</span>
        <span class="value">{{formatDate createdAt }}</span>
      </div>
      <div class="work-link">
        <div class="title">Source code: </div>
        <div class="value"><a href="{{ sourceUrl }}">{{ sourceUrl }}</a></div>
      </div>
      <div class="work-link">
        <div class="title">Preview: </div>
        <div class="value">
          {{#if previewUrl }}
            <a href="{{ previewUrl }}">{{ previewUrl }}</a>
          {{else}}
            &lt; without preview &gt;
          {{/if}}
        </div>
      </div>
    </div>
    {{#with workScore }}
    <div class="cell score {{ workScoreRate }}" >
      <span class="title">Earned points:</span>
      <span class="value">{{ this.result }}</span>
      <span class="total">of {{ this.total }}</span>
    </div>
    {{/with}}
  </section>
</template>

<template name="work_reviews_results">
  <section class="reviews-summary">
    {{#each reviews}}
    <article class="review summary {{reviewFeedbackStyle this}}">
      <div class="user">{{ getUserName user }}</div>
      <div class="score {{scoreRate this}}">{{reviewScore this}}</div>
      <div class="feedback">{{ this.feedback }}</div>
    </article>
    {{/each}}
  </section>
</template>

<template name="work_reviews_details">
  <section class="reviews-details">
    <header>
      <h4>Details</h4>
    </header>
    {{#each requirementsSummary}}
      <article class="requirement summary">
        <header class="row widget requirement group-{{ task }}">
          <div class="row-id">{{sum @index 1 }}</div>
          <div class="title">{{ title }}</div>
          <div class="score {{requirementScoreRate this}}">
            <span class="label">Earned: </span>
            <span class="value">{{ result }}</span>
          </div>
        </header>
        <div class="reviews requirement">
          <div class="filler"></div>
          {{#each this.reviews}}
          <article class="review summary {{reviewFeedbackStyle this}} size-{{ this.result }}">
            <div class="user">{{ getUserName user }}</div>
            <div class="score {{requirementScoreRate this}}">{{ this.result }}</div>
            <div class="feedback">{{ this.feedback }}</div>
          </article>
          {{/each}}
        </div>
      </article>
    {{/each}}
  </section>
</template>