<template name="assignment_state">
  <section class="submit">
    {{#if lastWork }}
      <div class="title">
        <small>Last work:</small>
        <br />
        submitted at <strong>{{formatDate lastWork.createdAt }}</strong>
      </div>
      {{> workReviewState work=lastWork }}
      <div class="splitter"></div>

      <div class="actions">
        <div class="button submit-button">Resubmit...</div>
        {{#if canReview }}
          <div class="button success review-button">Review works</div>
        {{/if}}
      </div>
      <div class="expand-history" style="display: none;">
        <div class="hint">Earlier submitted works</div>
        <div class="icon"></div>
      </div>
    {{else}}
      <div class="submit-date">submit by <strong>{{formatDate dueDate }}</strong></div>
      <div class="button primary submit-button">Submit your work...</div>
    {{/if}}
  </section>
</template>