<template name="assignment_state">
  <section class="row assignment-state">
    {{#if lastWork }}
      <div class="filler work-data">
        <header>Last work:</header>
        <div class="value">submitted at <strong>{{formatDate lastWork.createdAt }}</strong></div>
        {{#if isHistoryExist }}
        <footer>
          <div class="expand-history">
            <span class="hint">Earlier submitted works ({{ previousWorksCount }})</span>
            <span class="glyphicon glyphicon-menu-down"></span>
          </div>
        </footer>
        {{/if}}
      </div>
      {{> work_state work=lastWork id=lastWork._id }}
      <div class="splitter light"></div>
      <div class="block actions">
        <div class="button white submit-button">Resubmit...</div>
        {{#if canReview }}
          <div class="button success review-button">Review works</div>
        {{/if}}
      </div>
    {{else}}
      {{ > assignment_state_new }}
    {{/if}}
  </section>
</template>

<template name="assignment_state_new">
  <div class="filler work-data">
    <div class="value">submit by <strong>{{formatDate dueDate }}</strong></div>
  </div>
  <div class="block actions">
    <div class="button primary submit-button">Submit your work...</div>
  </div>
</template>