<template name="navbar">
  <nav class="navbar dark">
    <a class="brand" href="/">
      <div class="logo logo-reviews">
        <span class="glyphicon glyphicon-education"></span>
      </div>
      <div class="title">Peer Reviews</div>
    </a>
    <div class="filler"></div>
    <ul class="nav-list">
      <li>
        <div class="user">
          {{> loginButtons }}
        </div>
      </li>
    </ul>
    <div class="collapse-button collapse-on-mobile"><div class="hamburger-button"><div class="lines"></div></div></div>
    <ul class="nav-list">
      <li><a href="/">Assignments</a></li>
      <li><a href="/reviews">Reviews</a></li>
      <li><a href="https://github.com/somebuddy/peer-feedback" target="_blank"><img src="/images/github.png"></a></li>
    </ul>
  </nav>
</template>