<template name="work_state">
  {{#if report.result }}
    <div class="block work-state ready">
      {{#with workScore report.result }}
        <div class="title">earned</div>
        <div class="value earned">{{ result }}</div>
        <div class="value total">of {{ total }}</div>
        <div class="report-button">
          <i class="icon fa fa-bars"></i>
          <div class="hint">view<br/>report</div>
        </div>
      {{/with}}
    </div>
  {{else}}
    <div class="block work-state evaluating">
      <div class="icon glyphicon glyphicon-hourglass"></div>
      <div class="hint">Evaluating...</div>
    </div>
  {{/if}}
</template>