<template name="work_info">
  <section class="work-info">
    <div class="row header">
      {{#unless isAuthor}}
      <div class="user">
        <div class="user-pic"></div>
        <div class="user-name">{{ getUserName work.user }}</div>
      </div>
      {{/unless}}
      <div class="filler"></div>
      <div class="actions">
        {{#if isPublic }}
          <div class="coin-button share-twitter"></div>
          <div class="coin-button share-google"></div>
          <div class="coin-button share-facebook"></div>
        {{/if}}
        {{#if canMakePublic }}
          <div class="coin-button share"></div>
        {{/if}}
        {{#if canMakePrivate }}
          <div class="coin-button lock"></div>
        {{/if}}
        <div class="coin-button bookmark-work"></div>
        {{#unless isAuthor}}
        <div class="coin-button flag-work"></div>
        {{/unless}}
        {{#if isAuthor}}
          <div class="coin-button delete-work"></div>
        {{/if}}
      </div>
    </div>

    <div class="row content">
      <div class="filler details">
        {{#if work.title}}
        <div class="variable work-title">
          <div class="value">{{ work.title }}</div>
        </div>
        {{/if}}
        <div class="variable work-date">
          <div class="title">submitted at</div>
          <div class="value">{{formatDate work.createdAt }}</div>
        </div>
        <div class="variable work-link">
          <div class="title">Source code: </div>
          <div class="value">
            <a href="{{ work.sourceUrl }}" target="_blank">{{ work.sourceUrl }}</a>
          </div>
        </div>
        <div class="variable work-link">
          <div class="title">Preview: </div>
          <div class="value">
            {{#if work.previewUrl }}
              <a href="{{ work.previewUrl }}">{{ work.previewUrl }}</a>
            {{else}}
              &lt; without preview &gt;
            {{/if}}
          </div>
        </div>
      </div>
      {{#if score}}
      <div class="cell column">
        <div class="earned-score large {{ workScoreRate }}" >
          <!--<span class="title">You gave:</span>-->
          <span class="title">earned points:</span>
          <span class="value">{{ score.result }}</span>
          <span class="total">of {{ score.total }}</span>
          <!--<span class="total">7 of 8 to check</span>-->
          <!--<div class="button submit-button">Submit</div>-->
        </div>
      </div>
      {{/if}}
    </div>

    {{#if work.comment }}
    <div class="row comment">
      <div class="filler">
        <div class="variable work-comment">
          <div class="title">Comment: </div>
          <div class="value">{{#markdown}}{{ work.comment }}{{/markdown}}</div>
        </div>
      </div>
    </div>
    {{/if}}
  </section>
</template>