$line-height: 1.5rem !default;
$secondary-opacity: .6 !default;

.page > header > .assignment-state {
  max-width: 60rem;
  margin: 0 auto;
  padding-top: $line-height / 2;
  padding-bottom: $line-height / 2;

  border-top-color: rgba(255,255,255,.15);
  border-bottom-color: rgba(255,255,255,.15);

  font-family: 'Roboto', sans-serif;

  .work-data,
  .actions,
  .work-state {
    @include flex-column;
    justify-content: center;
  }

  .work-data {
    > header,
    > footer {
      font-size: .75rem;
      line-height: $line-height;
      opacity: $secondary-opacity;
    }

    > .value {
      font-size: 1.25rem;
      line-height: $line-height;
      font-weight: 300;

      > strong {
        font-weight: 400;
      }
    }

    > header {
      text-transform: uppercase;
    }

    > footer {
      cursor: pointer;
      transition: opacity .3s ease;
      &:hover { opacity: 1; }
    }
  }

  .splitter { height: 3rem; }
  .actions { margin-right: 0; }

  .review-button {
    font-size: 1.125rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    margin: 0.25rem .5rem;
    opacity: 0.9;
    transition: all .4s ease;

    &:hover {
      background: lighten(#4CAF50, 5%);
    }
  }

  .work-state.evaluating {
    opacity: $secondary-opacity;

    > .icon {
      @include flex-center;
      height: 2.5rem;
      width: 2.5rem;
      margin: 0 auto .5rem;
      background: rgba(255, 255, 255, .2);
      border-radius: 50%;
    }
  }

  .work-state.ready {
    position: relative;
    cursor: pointer;
    text-align: center;
    background: rgba(255, 255, 255, .05);
    border-radius: 50%;
    width: 6rem;
    height: 6rem;

    > .title, > .value {
      font-size: .75rem;
      white-space: nowrap;
      opacity: .8;
    }

    > .value.earned {
      font-size: 1.5rem;
      transform: scaleY(1.5);
    }

    > .report-button {
      @include absolute(0,0,0,0);
      @include flex-column;
      justify-content: center;
      color: black;
      background: rgba(255, 255, 255, .9);
      border-radius: 50%;
      opacity: 0;
      z-index: 1;
      transition: all .5s ease;

      > .icon {
        font-size: 2rem;
        color: #FFA000;
        transition: all .5s ease;
      }

      > .hint {
        font-size: .75rem;
        line-height: 1em;
        font-weight: 600;
      }
    }

    &:hover > .report-button { opacity: 1; }
  }
}