@import 'layout/board';
@import 'layout/flex';

$widget-height: 9rem;
$line-height: 1.5rem !default;
$column-width: 1rem !default;
$widget-width: 22.5rem;
$board-space: .5rem;
$secondary-opacity: .6;

.assignments.grid {
  @include board-grid($widget-width, $board-space);
}

.assignment.widget {
  @include flex-inline-column;
  min-height: $widget-height;
  background: white;

  &, &:hover {
    border-radius: $line-height / 3;
  }

  /* Components */
  > .main .title {
    font-family: font-family(condensed);
    font-size: 1.25rem;
    line-height: $line-height;
  }

  > .menu {
    @include absolute(0, 0);
    padding: .5rem;
    margin: 0;
  }

  > .secondary {
    font-size: .875rem;
    line-height: $line-height;
    overflow: hidden;
    opacity: $secondary-opacity;
    transition: all .5s ease;
  }

  > .secondary.description {
    min-height: $line-height * 3;
    max-height: $line-height * 3;

    > .title {
      align-items: flex-start;
      white-space: normal;
      max-height: $line-height * 3;
    }
  }

  > .state {
    > .score,
    > .due-date {
      .title {
        margin-right: .5rem;
      }
    }
  }

  &.overdue:not(.done) {
    .due-date {
      color: #d50000;
    }
  }

  &:hover {
    border-color: transparentize(#008EBF, .4);

    .secondary { opacity: 1; }
  }
}