@import url(//fonts.googleapis.com/css?family=Roboto:400,300,500,700);

$line-height: 1.5rem;

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto', 'Open Sans', 'Helvetica', 'Verdana', sans-serif;
}

html {
  font-size: 16px;
}

body {
  font-size: 100%;
}

@import 'layout/page';

// App specific styles
.page {
  background-color: rgba(255,170,0,.05);
}