@import "{}/imports/box-ui/styles/box-ui";

@import url(https://fonts.googleapis.com/css?family=Teko:700);

// Components
@import 'app/page';
@import 'app/board';
@import 'app/navbar';
@import 'login';
@import 'app/widget';
@import 'app/buttons';
@import 'app/coins';
@import 'app/comment-button';
@import 'app/reset-button';
@import 'app/check-switcher';
@import 'app/user-feedback';

@import 'app/work-info';
@import 'submits';

// App specific styles
.page.assignments {
  background-color: #ECEFF1;

  > nav,
  > header {
    background-color: #37474F;
    color: white;
  }

  > header {
    font-family: font-family(condensed);
    background: #37474F linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,.4) 100%);
  }

  > header > .title {
    > strong {
      display: inline-block;
      transform: scaleY(1.25);
      font-family: Teko;
      letter-spacing: 2px;
    }
  }
}

// App parts
@import 'assignments';
@import 'modal';
@import 'input';
@import 'requirements';
@import 'assignment-state';
@import 'review';
@import 'summary';
@import 'works';