@import "{}/imports/box-ui/styles/box-ui";

@import url(https://fonts.googleapis.com/css?family=Teko:700);

@import 'layout/page';
@import 'app/navbar';
@import 'app/widget';
@import 'app/buttons';
@import 'app/coins';
@import 'app/comment-button';
@import 'app/reset-button';
@import 'app/check-switcher';


// App specific styles
.page.assignments {
  background-color: #ECEFF1;

  > nav,
  > header {
    background-color: #37474F;
    color: white;
  }

  > header {
    font-family: font-family(condensed);
    background: #37474F linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,.4) 100%);
  }

  > header > .title {
    > strong {
      display: inline-block;
      transform: scaleY(1.25);
      font-family: Teko;
      letter-spacing: 2px;
    }
  }
}

@import 'assignments';