@import 'mixins';

$line-height: 1.5rem !default;

.input-widget {
  margin: 0 0 1rem;
  
  display: flex;
  flex-flow: row wrap;
  
  position: relative;
  
  > label {
    flex: 1 1 100%;
    font-size: .75rem;
    line-height: 1em;
    padding-top: .5rem;
    padding-bottom: .25rem;
    margin: 0;
    font-weight: 400;
    
    &:focus {
      color: red;
    }
  }
  
  &:focus {
    background: green;
  }
  
  > input, > textarea {
    flex: 1 1 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    position: relative;
    background: rgba(255,255,255,.1);
    
    & + .input-underline {
      flex: 1 1 100%;
      position: relative;
      
      &:after {
        content: '';
        @include absolute(auto, auto, 0, 0);
        width: 0;
        border-bottom: 2px solid transparentize(#1976D2, .4);
      }
    }
    
    &:hover, &:focus {
      outline: none;
      
      & + .input-underline:after {
        transition: all .5s ease;
        width: 100%;
      }
    }
  }

  > input {
    font-size: 1rem;
    line-height: $line-height;
    padding: .25rem 0 calc(.25rem - 1px);
  }
}