$line-height: 1.5rem;

.page {
  background: white;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  
  background: rgba(255,170,0,.05);

  > header {
    padding: 3*$line-height 1rem;
    background-color: white;
    color: black;
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    h1, h2, h3, h4 {
      text-align: center;
    }

    @media (min-width: 60rem) {
      padding-top: $line-height;
    }

    @media (min-height: 60rem) {
      padding-top: 4*$line-height;
    }
  }
}

h1, h2, h3, h4 {
  font-weight: 300;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.75rem;
  line-height: 3rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.page > header .button {
  display: inline-block;

  padding: .25rem .75rem;
  margin: .5rem .5rem;
  border: 1px solid transparentize(white, 0.8);

  font-size: .875rem;
  line-height: 1.5rem;

  color: white;
  background: transparentize(white, 0.8);
  border-radius: 4px;
  opacity: 0.6;
  transition: opacity .3s ease;
  cursor: pointer;

  // text-transform: uppercase;
  text-transform: capitalize;
  font-variant: small-caps;

  &.primary {
    background: #2196F3;
    opacity: 0.8;
  }
  
  &.success {
    background: #4CAF50;
    opacity: 0.8;
  }
  
  &.danger {
    background: transparentize(#F44336, .1);
  }
  
  &:hover {
    opacity: 1;
  }
}