@import 'mixins';

$line-height: 1.5rem !default;
$board-space: 1px;

.page > header {

  section.submit {
    display: flex;
    align-content: center;
    align-items: center;
    max-width: 60rem;
    margin: 0 auto;
    padding: .75rem 1rem;

    border-top: 1px solid rgba(255,255,255,.15);
    border-bottom: 1px solid rgba(255,255,255,.15);

    .submit-date {
      flex: 1 1 auto;
      font-size: 1.25rem;
      line-height: $line-height;
      font-weight: 300;
    }

    .history-button {
      height: 1.5rem;
      width: 1.5rem;
      line-height: 1em;
      position: relative;

      &:before {
        @include absolute(0,0,0,0);
        content: "\f1da";
        font-family: FontAwesome;
        font-size: 1.5rem;
        line-height: 1em;
        z-index: 1;
      }

      > .box-badge {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        @include absolute(0, 0);
        transform: translate(25%, -25%);
        width: 1rem;
        height: 1rem;
        font-size: .75rem;
        z-index: 2;
        border-radius: 50%;
        background-color: #4CAF50;
        color: white;
      }
    }
  }

  section.work {
    display: flex;
    flex-flow: column nowrap;
    max-width: 60rem;
    margin: 0 auto;
    padding: .75rem 1rem;
    border-top: 1px solid rgba(255,255,255,.15);
    border-bottom: 1px solid rgba(255,255,255,.15);

    a, a:hover {
      color: white;
    }
  }
}

.board.requirements {
  max-width: 60rem;
  padding: 0 1rem 1.5rem;
  margin: 3rem auto;

  flex-flow: column nowrap;
  justify-content: flex-start;

  min-height: 30rem;

  // border: 1px solid transparent;
  // border-radius: 6px;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  // background: rgba(255,255,255,.985);

  > header {
    color: white;
    margin-bottom: .75rem;
  }
}

.widget.requirement {
  min-height: $line-height * 2;

  margin: 0 $board-space $board-space 0;
  background: white;
  padding: .75rem 1rem;

  display: inline-flex;
  flex-flow: row nowrap;
  align-content: stretch;
  align-items: stretch;
  position: relative;

  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  > .row-id {
    flex: 0 0 4rem;
    margin: -.75rem 1rem -.75rem -1rem;
    padding: .75rem 1rem;

    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,.15);
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &.group-1 > .row-id { background: transparentize(#2196F3, 0.2); }
  &.group-2 > .row-id { background: transparentize(#FFA000, 0.2); }
  &.group-3 > .row-id { background: transparentize(#FF5722, 0.2); }
  &.group-4 > .row-id { background: transparentize(#D32F2F, 0.2); }

  > .title {
    white-space: normal;
    min-height: $line-height*2;
    vertical-align: middle;
    flex: 1 1 auto;
    font-size: 1rem;
    line-height: $line-height;
    overflow: hidden;
    margin-right: 1rem;
  }

  > .score {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    opacity: .6;

    background: rgba(0,0,0,.05);

    margin: -.75rem -1rem;
    padding: .75rem 1rem;

    > .label {
      color: black;
      font-weight: 400;
    }

    > .value {
      font-weight: 300;
      transform: scaleY(1.25);
    }
  }

  .comment-button,
  .reset-button,
  .check-switcher > .yes,
  .check-switcher > .no {
    margin-left: 1rem;
    position: relative;
    padding-left: 2.5rem;
    min-height: 2.5rem;
    min-width: 2.5rem;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: .875rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .5);
    opacity: .6;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:before, &:after {
      @include absolute(50%, auto, auto, 0);
      transform: translateY(-50%);
      height: 2rem;
      width: 2rem;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      font-size: 1rem;

      background: rgba(0, 0, 0, .1);
      color: rgba(0, 0, 0, .2);
      border-radius: 50%;
      font-family: 'Glyphicons Halflings';

      transition: all .3s ease;
    }

    &:hover {
      opacity: 1;
    }
  }

  .comment-button {
    z-index: 1;
    align-self: center;
    transition: z-index 1s step-end;

    &.edit {
      z-index: 11;
      transition: z-index 1s step-start;
    }
  }

  > .check-switcher {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-content: stretch;
    align-items: stretch;
    justify-content: center;
    margin: -.75rem -1rem;
    padding: .75rem 1rem;

    > .yes:hover, &.yes > .yes {
      color: #388E3C;

      &:before {
        background: transparentize(#388E3C, .4);
        color: white;
      }
    }

    > .no:hover, &.no > .no {
      color: #F44336;

      &:before {
        background: transparentize(#F44336, .4);
        color: white;
      }
    }

    > .yes:before { content: "\e013"; }
    > .no:before { content: "\e014"; }
  }

  transition: all .5s ease;

  &:hover {
    // margin-top: 4px;
    // margin-bottom: 4px;
    // z-index: 100;
    border-color: transparentize(#008EBF, .4);
    // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}

/* Elements for requirement commenting
  - comment button (with states)
  - comment field
  - reset comment field button
*/

.widget.requirement .comment-button {
  opacity: 1;

  &:before, &:after {
    font-family: FontAwesome;
    transition: all .4s ease;
  }

  // default state: empty -> add
  &:before {
    content: "\f0e5";
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .4);

    opacity: .8;
    transform: translateY(-50%) scale(1);
  }

  &:after {
    content: "\f067";
    background: #CDDC39;
    color: white;
    padding: 3px 0 0 0;

    opacity: 0;
    transform: translateY(-50%) scale(0.01);
  }

  // Hover transtions
  &:hover:before {
    opacity: 0;
    transform: translateY(-50%) scale(0.01);
  }

  &:hover:after {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }


  &.completed {
    &:before {
      content: "\f0e5";
      background: rgba(0, 0, 0, .5);
      color: white;

      opacity: .8;
      transform: translateY(-50%) scale(1);
    }

    &:after {
      content: "\f044";
      background: #FFA000;
      color: white;
      padding: 3px 0 0 4px;

      opacity: 0;
      transform: translateY(-50%) scale(0.01);
    }

    // Hover transtions
    &:hover:before {
      opacity: 0;
      transform: translateY(-50%) scale(0.01);
    }

    &:hover:after {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }
  }

  // edit state: check
  &.edit, &.completed.edit {
    &:before, &:after {
      content: "\f00c";
      background: lighten(#388E3C, 20%);
      color: white;
      padding: 2px 0 0 1px;
    }

    &:before {
      opacity: 0;
      transform: translateY(-50%) scale(0.01);
    }

    &:after {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }

    &:hover:before {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }

    &:hover:after {
      opacity: 0;
      transform: translateY(-50%) scale(0.01);
    }
  }
}

.widget.requirement .comment-field {
  @include absolute(50%);
  background: rgba(255, 255, 255, .05);
  z-index: 0;
  opacity: 0;
  transform: translateX(-100%) scale(.01);
  transform-origin: top right;
  transition: opacity .5s ease .2s, transform .5s ease, z-index .3s step-end;

  > .input-widget {
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    min-width: 300px;
    width: 50vw;
    max-width: 90%;
    margin-left: auto;
    padding: 0.75rem 1rem;

    > label {
      font-size: .75rem;
      line-height: $line-height;
      font-weight: 500;
      padding: 0 0 .75rem;
      color: #1976D2;
    }

    > textarea {
      font-size: 1rem;
      line-height: $line-height;
      font-weight: 400;
    }
  }

  &.opened {
    z-index: 10;
    opacity: 1;
    transform: translateX(-100%) scale(1);
    transition: opacity .5s ease, transform .5s ease .2s, z-index .7s step-start;
  }
}

.widget.requirement .reset-button {
  @include absolute(50%);
  transform: translateY(-50%) scale(0.01);
  margin-left: -6rem;
  z-index: 11;
  opacity: 0;
  transition: opacity .3s ease, transform .3s ease;

  &:before {
    content: "\f0e2";
    background: #afafaf;
    font-family: FontAwesome;
    color: white;
    opacity: 1;
    transform: translateY(-50%) scale(1) rotate(0deg);
  }

  &:hover:before {
    background: #F44336;
    transform: translateY(-50%) scale(1.2) rotate(-360deg);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: transform .4s ease, background .2s ease, box-shadow .4s ease .3s;
  }
}

.widget.requirement .comment-button.edit + .reset-button {
  opacity: 1;
  transform: translateY(-50%) scale(1);
  transition: opacity .2s ease, transform .4s ease .1s;
}