$line-height: 1.5rem !default;
$board-space: 1px;

.board.requirements {
  max-width: 60rem;
  width: 95%;
  padding: 1.5rem 1rem;
  margin: 3rem auto;
  
  min-height: 30rem;
  
  // border: 1px solid transparent;
  // border-radius: 6px;
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  // background: rgba(255,255,255,.985);
}

.widget.requirement {
  flex: 1 1 100%;
  min-height: $line-height * 2;

  margin: 0 $board-space $board-space 0;
  background: white;
  padding: .75rem 1rem;
  
  display: inline-flex;
  flex-direction: row;
  align-content: stretch;
  align-items: stretch;
  position: relative;
  
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  > .title {
    white-space: normal;
    min-height: $line-height*2;
    flex: 1 1 auto;
    font-size: 1rem;
    line-height: $line-height;
    overflow: hidden;
    margin-right: 1rem;
  }
  
  > .score {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    opacity: .6;
    
    background: rgba(0,0,0,.05);
    
    margin: -.75rem -1rem;
    padding: .75rem 1rem;
    
    > .label {
      color: black;
      font-weight: 400;
    }
    
    > .value {
      font-weight: 300;
      transform: scaleY(1.25);
    }
  }
  
  transition: all .5s ease;
  
  &:hover {
    // margin-top: 4px;
    // margin-bottom: 4px;
    // z-index: 100;
    border-color: transparentize(#008EBF, .4);
    // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}