@import 'layout/mixins';
@import 'layout/board';
@import 'layout/row';
@import 'layout/flex';
@import 'helpers/no-select';
@import 'buttons/coin-button';
@import 'app/comment-button';

$line-height: 1.5rem !default;
$column-width: 1rem !default;
$board-space: 0.0625rem;

.page > header.review-header {
  padding-bottom: 9rem;

  section.work {
    @include flex-column;
    max-width: 60rem;
    margin: 0 auto;
    padding: $line-height $column-width;
    border-top: 1px solid rgba(255,255,255,.15);
    border-bottom: 1px solid rgba(255,255,255,.15);

    a, a:hover {
      color: white;
    }
  }
}

// Widget
.check-list .widget.requirement {
  overflow: visible;
  .check-switcher { margin-right: 0; }
}

// Buttons
.reset-button,
.check-switcher > .yes,
.check-switcher > .no {
  @include coin-button;
  margin-right: 1rem;
}

@mixin check-switcher-colorize($color, $icon-color: white) {
  color: $color;

  &:before, &:after {
    background: transparentize($color, .4);
    color: $icon-color;
  }
}

.check-switcher {
  > .yes:before, > .yes:after { content: "\f00c"; }
  > .yes:hover, &.yes > .yes { @include check-switcher-colorize(#388E3C); }

  > .no:before, > .no:after { content: "\f00d"; }
  > .no:hover, &.no > .no { @include check-switcher-colorize(#F44336); }
}

.reset-button {
  @include absolute(50%);
  transform: translateY(-50%) scale(0.01);
  margin-left: -6rem;
  z-index: 11;
  opacity: 0;
  transition: opacity .3s ease, transform .3s ease;

  &:before {
    content: "\f0e2";
    background: #afafaf;
    color: white;
    opacity: 1;
    transform: translateY(-50%) scale(1) rotate(0deg);
    transition: transform .4s ease, background .2s ease, box-shadow .4s ease .3s;
  }

  &:hover:before {
    background: #F44336;
    opacity: 1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transform: translateY(-50%) scale(1.2) rotate(-360deg);
  }
}

.requirements.list > .widget.requirement .comment-button.edit + .reset-button {
  opacity: 1;
  transform: translateY(-50%) scale(1);
  transition: opacity .2s ease, transform .4s ease .1s;
}

// Comment form
.requirements.list > .widget.requirement .comment-field {
  @include absolute(50%);
  background: rgba(255, 255, 255, .05);
  z-index: 0;
  opacity: 0;
  transform: translateX(-100%) scale(.01);
  transform-origin: top right;
  transition: opacity .5s ease .2s, transform .5s ease, z-index .3s step-end;

  > .input-widget {
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    min-width: 300px;
    width: 50vw;
    max-width: 90%;
    margin-left: auto;
    padding: 0.75rem 1rem;

    > label {
      font-size: .75rem;
      line-height: $line-height;
      font-weight: 500;
      padding: 0 0 .75rem;
      color: #1976D2;
    }

    > textarea {
      font-size: 1rem;
      line-height: $line-height;
      font-weight: 400;
    }
  }

  &.opened {
    z-index: 10;
    opacity: 1;
    transform: translateX(-100%) scale(1);
    transition: opacity .5s ease, transform .5s ease .2s, z-index .7s step-start;
  }
}