@import 'layout/mixins';
@import 'layout/board';
@import 'layout/row';
@import 'layout/flex';
@import 'helpers/no-select';

$line-height: 1.5rem !default;
$board-space: 0.0625rem;

.page > header {
  section.work {
    display: flex;
    flex-flow: column nowrap;
    max-width: 60rem;
    margin: 0 auto;
    padding: .75rem 1rem;
    border-top: 1px solid rgba(255,255,255,.15);
    border-bottom: 1px solid rgba(255,255,255,.15);

    a, a:hover {
      color: white;
    }
  }
}

// Components
.widget.requirement {
  > .check-switcher {
    margin: -.75rem 0;
    padding-left: 1rem;
    padding-right: 1rem;

    > .yes:hover, &.yes > .yes {
      color: #388E3C;

      &:before, &:after {
        background: transparentize(#388E3C, .4);
        color: white;
      }
    }

    > .no:hover, &.no > .no {
      color: #F44336;

      &:before, &:after {
        background: transparentize(#F44336, .4);
        color: white;
      }
    }

    > .yes:before, > .yes:after { content: "\e013"; }
    > .no:before, > .no:after { content: "\e014"; }
  }

  .comment-button,
  .reset-button,
  .check-switcher > .yes,
  .check-switcher > .no {
    @include coin-button;
    margin-left: 1rem;
    &:before, &:after {
      font-family: 'Glyphicons Halflings';
    }
  }

  .comment-button {
    z-index: 1;
    align-self: center;
    transition: z-index 1s step-end;

    &.edit {
      z-index: 11;
      transition: z-index 1s step-start;
    }
  }
}

/* Elements for requirement commenting
  - comment button (with states)
  - comment field
  - reset comment field button
*/

.check-list .widget.requirement {
  overflow: visible;
}

.requirements.list > .widget.requirement .comment-button {
  opacity: 1;

  &:before, &:after {
    font-family: FontAwesome;
    transition: all .4s ease;
  }

  // default state: empty -> add
  &:before {
    content: "\f0e5";
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .4);

    opacity: .8;
    transform: translateY(-50%) scale(1);
  }

  &:after {
    content: "\f067";
    background: #CDDC39;
    color: white;
    padding: 3px 0 0 0;

    opacity: 0;
    transform: translateY(-50%) scale(0.01);
  }

  // Hover transtions
  &:hover:before {
    opacity: 0;
    transform: translateY(-50%) scale(0.01);
  }

  &:hover:after {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }


  &.completed {
    &:before {
      content: "\f0e5";
      background: rgba(0, 0, 0, .5);
      color: white;

      opacity: .8;
      transform: translateY(-50%) scale(1);
    }

    &:after {
      content: "\f044";
      background: #FFA000;
      color: white;
      padding: 3px 0 0 4px;

      opacity: 0;
      transform: translateY(-50%) scale(0.01);
    }

    // Hover transtions
    &:hover:before {
      opacity: 0;
      transform: translateY(-50%) scale(0.01);
    }

    &:hover:after {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }
  }

  // edit state: check
  &.edit, &.completed.edit {
    &:before, &:after {
      content: "\f00c";
      background: lighten(#388E3C, 20%);
      color: white;
      padding: 2px 0 0 1px;
    }

    &:before {
      opacity: 0;
      transform: translateY(-50%) scale(0.01);
    }

    &:after {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }

    &:hover:before {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }

    &:hover:after {
      opacity: 0;
      transform: translateY(-50%) scale(0.01);
    }
  }
}

.requirements.list > .widget.requirement .comment-field {
  @include absolute(50%);
  background: rgba(255, 255, 255, .05);
  z-index: 0;
  opacity: 0;
  transform: translateX(-100%) scale(.01);
  transform-origin: top right;
  transition: opacity .5s ease .2s, transform .5s ease, z-index .3s step-end;

  > .input-widget {
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    min-width: 300px;
    width: 50vw;
    max-width: 90%;
    margin-left: auto;
    padding: 0.75rem 1rem;

    > label {
      font-size: .75rem;
      line-height: $line-height;
      font-weight: 500;
      padding: 0 0 .75rem;
      color: #1976D2;
    }

    > textarea {
      font-size: 1rem;
      line-height: $line-height;
      font-weight: 400;
    }
  }

  &.opened {
    z-index: 10;
    opacity: 1;
    transform: translateX(-100%) scale(1);
    transition: opacity .5s ease, transform .5s ease .2s, z-index .7s step-start;
  }
}

.requirements.list > .widget.requirement .reset-button {
  @include absolute(50%);
  transform: translateY(-50%) scale(0.01);
  margin-left: -6rem;
  z-index: 11;
  opacity: 0;
  transition: opacity .3s ease, transform .3s ease;

  &:before {
    content: "\f0e2";
    background: #afafaf;
    font-family: FontAwesome;
    color: white;
    opacity: 1;
    transform: translateY(-50%) scale(1) rotate(0deg);
  }

  &:hover:before {
    background: #F44336;
    transform: translateY(-50%) scale(1.2) rotate(-360deg);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: transform .4s ease, background .2s ease, box-shadow .4s ease .3s;
  }
}

.requirements.list > .widget.requirement .comment-button.edit + .reset-button {
  opacity: 1;
  transform: translateY(-50%) scale(1);
  transition: opacity .2s ease, transform .4s ease .1s;
}