@import 'layout/mixins';
@import 'layout/flex';
@import 'helpers/helpers';
@import 'buttons/coin-button';

@import 'app/user-feedback';
@import 'app/earned-score';
@import 'app/work-info';

$line-height: 1.5rem !default;
$column-width: 1rem !default;
$secondary-opacity: .6 !default;

$success-background-color: #76b900;
$fail-background-color: #FF3C00;
$neutral-background-color: #37474F;

$success-text-color: #2E7D32;
$fail-text-color: #d50000;
$neutral-text-color: #607D8B;

.report.list {
  background: white;
  padding: 0;
  margin: 0 $column-width $line-height;
  border-radius: 4px;
  border: 1px solid rgba(#90A4AE,.5);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  @media (min-width: 62rem) {
    margin-left: auto;
    margin-right: auto;
  }

  > header {
    background: #B0BEC5;
    color: #455A64;

    > .title {
      font-size: 2rem;
      line-height: 3rem;
      font-family: 'Roboto Condensed';
      font-weight: 100;
    }
  }
  > header, > section { padding: $line-height $column-width * 2; }
  > section.work-info {
    background: #E4EBEE;
    padding: $line-height $column-width;
  }
  > section.reviews-summary { background: #F6F8FA; }

  .report-error,
  .report-info,
  .report-loading {
    display: flex;
    justify-content: center;
    margin: $line-height/2 auto;
    font-size: 1.25rem;
    line-height: $line-height;
    padding: $line-height/2 $column-width;

    &:before {
      display: inline-block;
      font-family: FontAwesome;
      margin-right: $column-width;
    }
  }

  .report-error {
    color: #d50000;
    &:before { content: "\f06a"; }
  }

  .report-info {
    color: darken(#01579B, 10%);
    &:before { content: "\f05a"; }
  }

  .report-loading {
    color: #607D8B;
    &:before {
      content: "\f110";
      animation: rotate-animation 2s infinite linear;
    }
  }
}

@keyframes rotate-animation {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.reviews-details { @include flex-column; }

// Components: share buttons
[class|="share"] {
  @include coin-button;
  font-size: 1.5rem;

  &:before {
    background: rgba(#263238, .1);
    color: rgba(#263238, .4);
  }

  &:after {
    background: rgba(#455A64, .6);
    color: rgba(255, 255, 255, .8);
  }
}

.share-twitter {
  &:before, &:after { content: "\f099"; }
}

.share-google {
  &:before, &:after { content: "\f0d5"; }
}

.share-facebook {
  &:before, &:after { content: "\f09a"; }
}

.share-linkedin {
  &:before, &:after { content: "\f0e1"; }
}

// Component: Requirement result and feedbacks
.requirement.summary {
  @include flex-column;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-top: 2px solid rgba(0, 0, 0, 0.09);

  > header.widget.requirement {
    background: rgba(0, 0, 0, .03);
    font-size: .9375rem;

    > .row-id {
      color: rgba(0,0,0,.3);
      background: transparent;
    }

    > .title { color: rgba(0,0,0, $secondary-opacity); }

    > .earned-score {
      @include min-size($column-width * 3, $column-width * 3);
      margin-right: $column-width;
      padding: $line-height/4 $column-width;
      color: white;
      background: $neutral-background-color;
      &.high { background: $success-background-color; }
      &.low { background: $fail-background-color; }
    }
  }

  > .user-feedback-list { padding: $line-height/2 $column-width $line-height/2 $column-width*4; }

  .widget.requirement{
    border: none;
    box-shadow: none;
  }
}