@import 'layout/mixins';
@import 'layout/flex';

$line-height: 1.5rem !default;
$column-width: 1rem !default;
$secondary-opacity: .6 !default;

.report.list {
  background: white;
  padding: 0;
  margin: 0 $column-width $line-height;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  @media (min-width: 62rem) {
    margin-left: auto;
    margin-right: auto;
  }
}

// Components
.report.list {
  > section > header {
    color: rgba(0, 0, 0, .7);
    h3 { margin: 0; }
  }

  > section {
    padding: $line-height $column-width * 2;
  }

  > section.reviews-summary,
  > section.reviews-default {
    @include flex-column;
  }

  > section.summary { background: #CFD8DC; }
  > section.reviews-summary { background: #ECEFF1; }
}

// Work summary section
.report.list .summary {
  .details, .score { @include flex-column; }

  .details {
    .user-name {
      font-size: 1.5rem;
      font-weight: 300;
      text-transform: capitalize;
      margin-bottom: $line-height - .875rem;
    }

    .submit-date {
      font-size: .875rem;
      line-height: $line-height;
      opacity: $secondary-opacity;
      margin-bottom: $line-height / 2;

      > .value { font-weight: 600; }
    }

    .work-link {
      margin-bottom: $line-height / 2;

      > .title {
        font-size: .75rem;
        text-transform: uppercase;
        opacity: $secondary-opacity;
      }

      > .value {
        font-weight: 500;
      }
    }
  }

  .score {
    @include flex-align(center, center, center);
    color: #607D8B;
    &.high { color: #2E7D32; }
    &.low { color: #d50000; }

    .title, .total { opacity: $secondary-opacity; }

    .title {
      font-size: .75rem;
      text-transform: uppercase;
    }

    .total {
      font-size: 1rem;
      font-variant: small-caps;
    }

    .value {
      font-size: $line-height * 2.5;
      line-height: $line-height * 3;
    }
  }
}

// Summary by review section
.report.list .review.summary {
  display: flex;
  justify-content: center;

  > .score {
    order: 0;
    @include flex-center;
    @include size(3.5rem, 3.5rem);
    border-radius: 50%;
    background: rgba(0, 0, 0, .05);
    font-size: 1.5rem;
    background: #37474F;
    color: white;

    &.high { background: #43A047; }
    &.low { background: #FF3C00; }
  }

  &.short {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 auto;
    padding: .75rem 1rem;
    order: 1;
    color: yellowgreen;


    > .user {
      order: 1;
      font-size: 0.75rem;
      line-height: 1em;
      color: rgba(0,0,0,.8);
      font-weight: 600;
      max-width: 5rem;
      text-align: center;
    }

    > .feedback {
      display: none;
    }
  }

  &.full {
    flex: 1 1 100%;
    order: 0;
    color: rgba(0,0,0,.8);
    padding: .75rem 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.05);

    > .user {
      order: 0;
      flex: 0 0 auto;
      flex-flow: column nowrap;
      align-content: center;
      align-items: center;
      font-size: 0.75rem;
      line-height: 1em;
      color: rgba(0,0,0,.8);
      font-weight: 600;
      max-width: 5rem;
      text-align: center;
      margin-right: 1rem;

      &:before {
        content: '\f007';
        font-family: FontAwesome;
        @include flex-center;
        display: inline-flex;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        background: rgba(0, 0, 0, .05);
        font-size: 1.5rem;
        color: rgba(0,0,0,0.6);
      }
    }

    > .feedback {
      flex: 1 1 auto;
      order: 1;
      margin-right: 1rem;
      font-size: .9375rem;
      line-height: $line-height;
      padding: .75rem 0;
    }

    > .score {
      flex: 0 0 auto;
      @include flex-center;
      order: 2;
      padding: .75rem 1rem;
      font-size: 1.5rem;
      line-height: $line-height;
    }
  }
}

.report.list .requirement.summary {
  @include flex-column;
  margin: .75rem 0;
  border: 1px solid rgba(0, 0, 0, 0.05);

  > header.widget.requirement {
    background: rgba(0, 0, 0, .05);

    .row-id {
      background: transparent;
      color: rgba(0,0,0,.4);
    }

    > .title {
      margin-right: 1rem;
      font-size: .9375rem;
      line-height: $line-height;
    }

    > .score {
      color: white;
      margin-left: 0;
      opacity: 1;

      > .label {
        color: white;
      }

      > .value {
        @include flex-center;
        font-size: 1.5rem;
        font-weight: 600;
      }

      &.high {
        background: #47bc00;
        color: white;
      }

      &.low {
        background: #fe230a;
        color: white;
      }
    }
  }

  > .reviews.requirement {
    padding: 0.75rem 1rem;
  }


  .widget.requirement{
    border: none;
    box-shadow: none;
  }

  .review.summary {
    &.short {
      > .user {
        display: none;
      }

      > .score {
        height: 2rem;
        width: 2rem;
        font-size: .875rem;
        opacity: 0.7;
        font-weight: 600;
        border-radius: 3px;
      }
    }

    &.full {
      > .user:before,
      > .score {
        font-size: 1rem;
        height: 2.5rem;
        width: 2.5rem;
        font-weight: 600;
      }

      > .score {
        border-radius: 3px;
      }

      > .feedback {
        font-size: .8125rem;
      }
    }
  }
}

.reviews-details .reviews.requirement {
  @include flex-rows;
  justify-content: flex-end;
}