@import 'layout/mixins';
@import 'layout/flex';
@import 'helpers/no-select';
@import 'buttons/coin-button';

$line-height: 1.5rem !default;
$column-width: 1rem !default;
$secondary-opacity: .6 !default;

$success-background-color: #76b900;
$fail-background-color: #FF3C00;
$neutral-background-color: #37474F;

$success-text-color: #2E7D32;
$fail-text-color: #d50000;
$neutral-text-color: #607D8B;

.report.list {
  background: white;
  padding: 0;
  margin: 0 $column-width $line-height;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.1);
  border: 1px solid rgba(#90A4AE,.5);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  @media (min-width: 62rem) {
    margin-left: auto;
    margin-right: auto;
  }
}

.report.list {
  > header {
    background: #B0BEC5;
    color: #455A64;

    > .title {
      font-size: 2rem;
      line-height: 3rem;
      font-family: 'Roboto Condensed';
      font-weight: 100;
    }
  }
  > header, > section { padding: $line-height $column-width * 2; }
  > section.work-summary { background: #E4EBEE; }
  > section.reviews-summary { background: #F6F8FA; }
}

// Sections

// Work summary section
.report.list .work-summary {
  .details, .score { @include flex-column; }

  .details {
    .user-name {
      font-size: 1.5rem;
      font-weight: 300;
      text-transform: capitalize;
      margin-bottom: $line-height - .875rem;
    }

    .submit-date {
      font-size: .875rem;
      line-height: $line-height;
      opacity: $secondary-opacity;
      margin-bottom: $line-height / 2;

      > .value { font-weight: 600; }
    }

    .work-link {
      margin-bottom: $line-height / 2;

      > .title {
        font-size: .75rem;
        text-transform: uppercase;
        opacity: $secondary-opacity;
      }

      > .value {
        font-weight: 500;
      }
    }
  }

  .score {
    @include flex-align(center, center, center);
    color: $neutral-text-color;
    &.high { color: #2E7D32; }
    &.low { color: #d50000; }

    color: $neutral-text-color;
    &.high { color: $success-text-color; }
    &.low { color: $fail-text-color; }

    .title, .total { opacity: $secondary-opacity; }

    .title {
      font-size: .75rem;
      text-transform: uppercase;
    }

    .total {
      font-size: 1rem;
      font-variant: small-caps;
    }

    .value {
      font-size: $line-height * 2.5;
      line-height: $line-height * 3;
    }
  }
}

.reviews-summary {
  @include flex-rows;
  justify-content: flex-end;
}

.reviews-details {
  @include flex-column;
}

// Components
[class|="share"] {
  @include coin-button;
  font-size: 1.5rem;

  &:before {
    background: rgba(#263238, .1);
    color: rgba(#263238, .4);
  }

  &:after {
    background: rgba(#455A64, .6);
    color: rgba(255, 255, 255, .8);
  }
}

.share-twitter {
  &:before, &:after { content: "\f099"; }
}

.share-google {
  &:before, &:after { content: "\f0d5"; }
}

.share-facebook {
  &:before, &:after { content: "\f09a"; }
}

.share-linkedin {
  &:before, &:after { content: "\f0e1"; }
}

// Review result
.review.summary {
  order: 0;
  flex: 1 1 100%;
  @include flex-vertical-center;
  padding: $line-height/2 0;
  border-bottom: 1px solid rgba(0,0,0,0.05);

  > .score {
    order: 0;
    @include flex-center;
    @include size(3rem, 3rem);
    margin: $line-height / 2 $column-width;
    font-size: 1.5rem;
    border-radius: 50%;
    color: white;

    background: $neutral-background-color;
    &.high { background: $success-background-color; }
    &.low { background: $fail-background-color; }
  }

  > .feedback {
    flex: 1 1 auto;
    order: 1;
    margin-right: 1rem;
    font-size: .9375rem;
    line-height: $line-height;
  }

  > .user {
    order: 1;
    font-size: 0.75rem;
    line-height: 1em;
    color: rgba(0,0,0,.8);
    font-weight: 600;
    text-align: center;
    margin-right: 1rem;

    &:before {
      content: '\f007';
      @include flex-center;
      @include size(3.5rem, 3.5rem);
      font-size: 1.5rem;
      font-family: FontAwesome;
      margin: 0 auto $line-height/4;
      border-radius: 50%;
      background: rgba(0, 0, 0, .05);
      color: rgba(0,0,0,0.6);
    }
  }

  &.short {
    flex: 0 0 auto;
    border-bottom: none;
    flex-direction: column;
    order: 1;
    margin: 0 0 0 $column-width;

    > .user { margin-right: 0; }
    > .user:before, > .feedback { display: none; }
  }

  &.full {
    > .user { order: 0; }
    > .score { order: 2; }
  }
}

// Requirement result
.requirement.summary {
  @include flex-column;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-top: 2px solid rgba(0, 0, 0, 0.09);

  > header.widget.requirement {
    background: rgba(0, 0, 0, .03);

    .row-id {
      background: transparent;
      color: rgba(0,0,0,.3);
    }

    > .title {
      font-size: .9375rem;
      color: rgba(0,0,0, $secondary-opacity);
    }

    > .score {
      @include flex-align(center, center, center);
      @include min-size($column-width * 3, $column-width * 3);
      padding: $line-height/4 $column-width;
      margin-right: $column-width;
      border-radius: 3px;
      opacity: 1;
      color: white;
      background: $neutral-background-color;
      &.high { background: $success-background-color; }
      &.low { background: $fail-background-color; }

      .title, .total { opacity: $secondary-opacity; }

      .title, .total {
        font-size: .625rem;
        line-height: .75rem;
        text-transform: uppercase;
      }

      .value {
        font-size: 1.25rem;
        line-height: $line-height;
        font-weight: 600;
      }
    }
  }

  > .reviews.requirement {
    padding: 0.75rem 1rem;
  }


  .widget.requirement{
    border: none;
    box-shadow: none;
  }
}

// Requirement review
.requirement.summary .review.summary {
  &.short {
    @include size(3rem, 3rem);
    @include no-select;
    justify-content: center;
    margin: 0;
    padding: 0;

    > .user { display: none; }

    > .score {
      margin: 0;
      @include size(.5rem, .5rem);
      color: transparent;
    }

    &.size-1 > .score { @include size(1rem, 1rem); }
    &.size-2 > .score { @include size(1.5rem, 1.5rem); }
  }

  &.full {
    > .user:before, > .score {
      @include size(2.5rem, 2.5rem);
      font-size: 1rem;
      font-weight: 600;
    }

    > .feedback { font-size: .8125rem; }
  }
}


.reviews-details .reviews.requirement {
  @include flex-rows;
  justify-content: flex-end;
}