@import 'mixins';

$line-height: 1.5rem;

.board.report {
  display: flex;
  flex-flow: column nowrap;

  background: white;
  padding: 1.5rem 2rem;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  > section > header {
    color: rgba(0, 0, 0, .7);

    h3 {
      margin: 0;
    }
  }

  > section.summary,
  > section.details {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  > section.summary {
    margin-bottom: 1.5rem;
  }

  > section.details {
  }

  .reviews {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  .review.summary {
    display: flex;
    justify-content: center;

    > .score {
      order: 0;
      @include flex-center;
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 50%;
      background: rgba(0, 0, 0, .05);
      font-size: 1.5rem;
      color: black;

      &.high {
        background: #4CAF50;
        background: #47bc00;
        color: white;
      }

      &.low {
        background: #FFCCBC;
        background: #fe230a;
        color: white;
      }
    }

    &.short {
      display: flex;
      flex-flow: column nowrap;
      align-content: center;
      align-items: center;
      justify-content: flex-start;
      flex: 0 0 auto;
      padding: .75rem 1rem;
      order: 1;
      color: yellowgreen;


      > .user {
        order: 1;
        font-size: 0.75rem;
        line-height: 1em;
        color: rgba(0,0,0,.8);
        font-weight: 600;
        max-width: 5rem;
        text-align: center;
      }

      > .feedback {
        display: none;
      }
    }

    &.full {
      flex: 1 1 100%;
      order: 0;
      color: rgba(0,0,0,.8);
      padding: .75rem 1rem;
      border-bottom: 1px solid rgba(0,0,0,0.05);

      > .user {
        order: 0;
        flex: 0 0 auto;
        flex-flow: column nowrap;
        align-content: center;
        align-items: center;
        font-size: 0.75rem;
        line-height: 1em;
        color: rgba(0,0,0,.8);
        font-weight: 600;
        max-width: 5rem;
        text-align: center;
        margin-right: 1rem;

        &:before {
          content: '\f007';
          font-family: FontAwesome;
          @include flex-center;
          display: inline-flex;
          height: 3.5rem;
          width: 3.5rem;
          border-radius: 50%;
          background: rgba(0, 0, 0, .05);
          font-size: 1.5rem;
          color: rgba(0,0,0,0.6);
        }
      }

      > .feedback {
        flex: 1 1 auto;
        order: 1;
        margin-right: 1rem;
        font-size: .9375rem;
        line-height: $line-height;
        padding: .75rem 0;
      }

      > .score {
        flex: 0 0 auto;
        @include flex-center;
        order: 2;
        padding: .75rem 1rem;
        font-size: 1.5rem;
        line-height: $line-height;
      }
    }
  }

  .requirement.summary {
    display: flex;
    flex-flow: column nowrap;
    align-content: stretch;
    align-items: stretch;
    margin: .75rem 0;
    border: 1px solid rgba(0, 0, 0, 0.05);

    > header.widget.requirement {
      background: rgba(0, 0, 0, .05);

      .row-id {
        background: transparent;
        color: rgba(0,0,0,.4);
      }

      > .title {
        margin-right: 1rem;
        font-size: .9375rem;
        line-height: $line-height;
      }

      > .score {
        color: white;
        margin-left: 0;
        opacity: 1;

        > .label {
          color: white;
        }

        > .value {
          @include flex-center;
          font-size: 1.5rem;
          font-weight: 600;
        }

        &.high {
          background: #47bc00;
          color: white;
        }

        &.low {
          background: #fe230a;
          color: white;
        }
      }
    }

    > .reviews.requirement {
      padding: 0.75rem 1rem;
    }
  }

  .requirement.summary .widget.requirement{
    border: none;
    box-shadow: none;
  }

  .requirement.summary .review.summary {
    &.short {
      > .user {
        display: none;
      }

      > .score {
        height: 2rem;
        width: 2rem;
        font-size: .875rem;
        opacity: 0.7;
        font-weight: 600;
        border-radius: 3px;
      }
    }

    &.full {
      > .user:before,
      > .score {
        font-size: 1rem;
        height: 2.5rem;
        width: 2.5rem;
        font-weight: 600;
      }

      > .score {
        border-radius: 3px;
      }

      > .feedback {
        font-size: .8125rem;
      }
    }
  }
}